<h1>Doctor: <%= @doctor.name%> </h1>

<%= @doctor.name %><br>
<%= @doctor.department %><br>

<ul>
    <li>
        <% @doctor.appointments.each do |appointment| %>
            <%= link_to appointment.patient.name, patient_path(appointment.patient) %> -
            <%= appointment.appointment_datetime.strftime("%B %d, %Y at %H:%M")%> <br>
        <%end%>
    </li>
</ul>